/*font */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;1,300&display=swap');

*{margin: 0;
padding: 0;}

body{
  /* black gradient */
  background-image: linear-gradient(to top, #000000 0%, #2D3436 80%, #2D3436 100%);
  /* background-image: linear-gradient(to top, #000000 0%, #130F40 99%, #130F40 100%); */
  background-repeat: no-repeat;

}
/* triangle shapes switch */
/* .triangle-left{
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid red;
  border-bottom: 50px solid transparent;
} */

/* name componets */
.name_section{
  display: flex;
  height: 100%;
  weight:100vh;
}
.content_container{
  flex: 1;
 margin: 4em;
 padding: 5px;
  align-content:center
}
/* name input  */
/* header */
.head_title {margin-top: 10vw;
  font-family: 'Catamaran', sans-serif;
  color: antiquewhite;
  font-size: 4vw;
  align-items: center;
}
/* iput */
.input{
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.input label{
  font-size: 2vw;
  color: antiquewhite;
}
.img_container{
  flex: 1;
  margin: 20px;
 padding: 5px;
 height: fit-content;
}
img{
  
  max-width: 100%;
  height: 100%;

}

/* navbar */
.navbar{
  position: relative;
  display: flex;
  color:grey;
  box-shadow: 2px 5px 15px rgb(100,100,100,.2);
  border-radius: 10px;
  justify-content: flex-end;

  /* align-items:stretch; */

}
.navbar a{
  align-items:stretch;
  width:150px;
  height:60px;
  line-height: 60px;
 
}
.name_section{
  display: flex;
  justify-content: space-around;
}
.form_container{
  height: 200px;
  /* position: relative; */

}

/*submitting form style */
h1{
  margin:1em;
 text-align: center;
}
form.field-container{
justify-content: center;
text-align: center;
}
form {
  width: 50%;
  margin: 0 auto;
}
form p{display: table-row;  

}


form label  {
  display: flex;
}
form input textarea { 
  display: flex;
 margin: 3em;
/* width: 8em; */
width: 300px;
height: 30px;
}
.letter_enter{
 height: 20vh;
}
.submit_box{
  justify-content: center;
  margin:auto;
  text-align: center;
  padding: 1em;
}

/* button */
button.submit{  
  position: relative;
  top:30%;
  left: 70%;
  width: 70px;
  height: 70px;
  background:#C85250;
  box-shadow: 0 0 20px #E7625F
  ,
  0 0 60px #E7625F
  ;
  transform: rotate(-45deg);
  animation: heart 2s linear infinite 0.2s alternate
}

@keyframes heart{
  0%{ transform: rotate(-45deg) scale(0.5);
  }
  90%{ transform: rotate(-45deg) scale(1);
  }
  100%{ transform: rotate(-45deg) scale(0.5);
  }
}
.submit::before{
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  background:#C85250;
  border-radius: 50%;
  left:0;
  top:-50%;
}
.submit::after{
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  background:#C85250;
  border-radius: 50%;
  top:0;
  right:-50%;
}

/* poem page */
.Poem{background-image: url();
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4vw;
}

.poem_container{
background: rgba(101, 101, 101, 0.1);
border-radius: 2em;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.4px);
-webkit-backdrop-filter: blur(5.4px);
border: 1px solid rgba(255, 255, 255, 0.3);
align-items: center;
color: #fff;
border-radius: 3em;
margin: auto;
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
padding: 4vw 5vw;
max-width: 40%;
position: relative;
}

.letter {
  margin-top: 1em;
  line-height: 28px;
  text-align: justify;
  margin-bottom: 1em;
 
  font-family: 'Titillium Web', sans-serif;
font-size: 1vw;
}
button{
  font-family: 'Titillium Web', sans-serif;
  font-size: 1vw;
  
}
.fa-quote {
  color: rgba(255, 255, 255, 0.3);
  font-size: 28px;
  position: absolute;
  top: 70px;
}
.fa-quote-right {
  left: 40px;
}

.fa-quote-left {
  right: 40px;
}
 
.buttons{
 
  display: flex;
  justify-content:space-around;
} 

.button-30 {
  margin: 1em;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 30px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 1vw;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}