/*font */

*{margin: 0;
padding: 0;}

body{
  /* black gradient */
  background-image: linear-gradient(to top, #000000 0%, #2D3436 80%, #2D3436 100%);
  /* background-image: linear-gradient(to top, #000000 0%, #130F40 99%, #130F40 100%); */
  background-repeat: no-repeat;

}


/* name componets */
.name_section{
  display: flex;
  height: 100%;
  weight:100vh;
}
.content_container{
  flex: 1;
 margin: 20px;
 padding: 5px;
  align-content:center
}
/* name input  */
/* header */
.head_title {margin-top: 10vw;
  font-family: 'Catamaran', sans-serif;
  color: antiquewhite;
  font-size: 4vw;
  align-items: center;
}
/* iput */
.input{
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.input label{
  font-size: 2vw;
  color: antiquewhite;
}
.img_container{
  flex: 1;
  margin: 20px;
 padding: 5px;
 height: fit-content;
}
img{
  
  max-width: 100%;
  height: 100%;

}

/* navbar */
.navbar{
  position: relative;
  display: flex;
  color:grey;
  box-shadow: 2px 5px 15px rgb(100,100,100,.2);
  border-radius: 10px;
  justify-content: flex-end;

  /* align-items:stretch; */

}
.navbar a{
  align-items:stretch;
  width:150px;
  height:60px;
  line-height: 60px;
 
}
.name_section{
  display: flex;
  justify-content: space-around;
}
.form_container{
  height: 200px;
  position: relative;

}

/* button */
button.submit{  
  position: absolute;
  top:30%;
  left: 70%;
  width: 70px;
  height: 70px;
  background:#C85250;
  box-shadow: 0 0 20px #E7625F
  ,
  0 0 60px #E7625F
  ;
  transform: rotate(-45deg);
  animation: heart 2s linear infinite 0.2s alternate
}

@keyframes heart{
  0%{ transform: rotate(-45deg) scale(0.5);
  }
  90%{ transform: rotate(-45deg) scale(1);
  }
  100%{ transform: rotate(-45deg) scale(0.5);
  }
}
.submit::before{
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  background:#C85250;
  border-radius: 50%;
  left:0;
  top:-50%;
}
.submit::after{
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  background:#C85250;
  border-radius: 50%;
  top:0;
  right:-50%;

}
